body,
html {
  background: black;
}
p {
  color: white;
}

#noise {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  z-index: 90;
}

#noise:before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
  background: url(../img/noise.png);
  background-color: black;
  pointer-events: none;
  display: block;
  opacity: .51;
  -webkit-animation: grain 2s steps(10) infinite;
  animation: grain 2s steps(10) infinite;
  will-change: transform;
}

@-webkit-keyframes grain {
  0%,
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
  }
  50% {
    -webkit-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 5%);
    transform: translate(15%, 5%);
  }
  70% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
  }
  80% {
    -webkit-transform: translate(25%, 35%);
    transform: translate(25%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@keyframes grain {
  0%,
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
  }
  50% {
    -webkit-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 5%);
    transform: translate(15%, 5%);
  }
  70% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
  }
  80% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}